.channel-div{
    width: 100%;
    height: 96%;
}

.whole-messagelist{
    padding-left: 10px;
}

.channelname-li{
    padding: 5px 0px;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
}

.channelname-li:hover{
    background: #350D36;
}
.channelli-outer:hover .channel-delete{
    display: flex;
}

.channel-title{
    padding-left: 10px;
    margin-bottom: 8px;
}
.outer-info{
    border-bottom: 1px solid lightgray ;
}

.topinfo-nav{
    margin-top: 20px;
    margin-left: 20px;
}

.channelName-p{
    font-weight: 900;
    font-size: 20px;
}

.amount-p{
    display: flex;
    margin-left: 10px;
}

.amount-img{
    width: 20px;
    height: 20px;
    padding-right: 10px;
}

.length-img{
    width: 20px;
    height: 20px;
}
.amount-p:hover{
    color: rgba(var(--sk_highlight,18,100,163),1);
}

.star-amount{
    display: flex;
    margin-top: 5px;
}
.star-img:hover{
    color:  rgba(var(--sk_secondary_highlight,242,199,68),1);
}

.the-line{
    color: lightgray;
    margin-left: 10px;
}

#selected{
    background-color: #350D36;
}

.channel-delete{
    display: none;
    margin-right: 15px;
}

.channel-delete:hover{
    text-shadow: 0 0 3px white;
}

.title-create{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.create-button{
    margin-right: 15px;
    width: 13px;
    color: white;
}