.channel-div{
    width: 100%;
    height: 100%;
}

.whole-messagelist{
    padding-left: 10px;
}

.channelname-li{
    padding: 5px 0px;
    padding-left: 10px;
}

.channelname-li:hover{
    background: #350D36;
}

.channel-title{
    padding-left: 10px;
    margin-bottom: 8px;
}
