.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 5px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center
}

/* The Close Button */
.close, .modal-yes {
  color: #aaa;
  float: center;
  font-size: 28px;
  font-weight: bold;
    border: 1px solid transparent;
}

.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

.modal-yes:hover, .modal-yes:focus{
    color: green;
}

.modal-text{
    color: black;
}

.modal-yes{
    // color: green;
    margin-left: 20px;
    margin-right: 20px;
}
