.message-date{
    font-size: 10px;
}

.messageandform-div{
    overflow: auto;
    height: 87%;
}

.message-author{
    font-weight: 800;
    display: flex;
    align-items: baseline;
    // margin-bottom: 10px;
}

.message-date{
    font-weight: normal;
    padding-left: 10px;
}
.message-div{
    margin: 10px;
    display: flex;
}

.who-div{
    display: flex;
}

.who-div > svg{
    color: lightblue;
    font-size: 35px;
}   

.message-div:hover{
    background-color: #E5E1DC;
}

.messageinfo-div{
    display: block;
    padding-left: 10px;
}
.message-text{
    font-size: 16px;
}
.author-time{
    display: flex;
    align-items: baseline;
}