.messageform{
    display: flex;
    justify-content: space-between;
    margin: 10px ;
    height: 50px;
}


.message-box{
    width: 100%;
    padding-left: 10px;
}

.messageform-submit{
    margin-right: 10px;
    display: none;
}
