
.sidebar-div{
    background-color: #3f0e40;
    color: white;
    width: 260px;
    height: 100%;
    // padding-left: 10px;
    padding-top: 15px;
}

.mainjsx-div{
    display: flex;
    height: 100%;
}

.messageform{
    border: 1px solid black;
    border-radius: 4px;
}
.home-link{
    font-size: 30px;
    font-weight: 900;
    padding-left: 10px;
}

.displayname{
    margin-top: 0;
    font-size: 12px;
    padding-top: 2px;
    display: flex;
}

.online-name{
    display: flex;
    height: 20px;
    padding-left: 10px;
   
}

.online-img{
    width: 15px;
    height: 15px;
    padding-right: 5px;
}

.sidebar-toplink:hover{
    background: #350D36;
}

.logout-button{
    display: none;
    position: fixed;
    left: 60px;
    top: 60px;
    color: black;
    background-color: white;
    box-shadow: 0 0 0 1px gray;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 0px;
    z-index: 2;
}

.logout-button:hover{
    background-color: #5b325d;
    color: #cfc3cf;
}

.logout-button.active{
    display: block;
}

.online-name:hover{
    cursor: pointer;
    text-shadow: 0 0 2px white;
}

.channel-title, .channelname-li, .whole-placeholder{
    color: #cfc3cf;
}

// .channelname-li{
//     color: #cfc3cf;
// }

// .whole-placeholder{
//     color: #cfc3cf;
// }

.dm-placeholder{
    padding-left: 10px;
    margin-bottom: 7px;
}

.searchBox{
    border: 1px solid #5b325d;
    background-color: #5b325d;
    border-radius: 4px;
    margin-left: 10px;
    margin-right: 10px;
    max-width: 190px;
    margin-top: 10px;
    height: 25px;
    padding-left: 10px;
    color:#cfc3cf;
}

.arrow-down{
    margin-left: 5px;
    width: 20px;
    height: 15px;
    color: white;
}