
.sidebar-div{
    background-color: #3f0e40;
    color: white;
    width: 200px;
    height: 100%;
}

.mainjsx-div{
    display: flex;
    height: 100%;
}

.messageform{
    border: 1px solid black;
    border-radius: 4px;
}
