.user1{
    color: lightblue;
}
.user2{
    color:#1a87d3;
}
.user3{
    color: #4326dd;
}
.user4{
    color: #680849;
}
.user5{
    color: #38ea56;
}
.user6{
    color: #43deae
}
.user7{
    color: #9d5110;
}
.user8{
    color: #a93345;
}
.user9{
    color: #747af3;
}
.user10{
    color: #53dc76;
}
.user11{
    color: #c84daf;
}
.user12{
    color: #326861;
}
.user13{
    color: #b97446;
}
.user14{
    color: #54111e;
}
.user15{
    color: #5cb69a;
}
.user16{
    color: #c1c5aa;
}
.user17{
    color: #4658cf;
}
.user18{
    color: #2c93ca;
}
.user19{
    color: #034e37;
}
.user20{
    color: #02ba17;
}
.user21{
    color: #ff1ea3;
}
.user22{
    color: #b7c396;
}
.user23{
    color: #02f3c4;
}
.user24{
    color: #fe6f23;
}
.user25{
    color: #b89482;
}
.user26{
    color: #b8952a;
}
.user27{
    color: #a9785c;
}
.user28{
    color: #ec7363;
}
.user29{
    color: #5f9cae;
}
.user30{
    color: #85c247;
}
.user31{
    color: #fb030b;
}
.user32{
    color: #c3fcdc;
}
.user33{
    color: #52dbd2;
}
.user34{
    color: #9769f2;
}
.user35{
    color: #d4383a;
}
.user36{
    color: #cf421a;
}
.user37{
    color: #89ef7b;
}
.user38{
    color: #d2b753;
}
.user39{
    color: #c9fde0;
}
.user40{
    color: #3c8359;
}
.user41{
    color: #e58a8d;
}
.user42{
    color: #8f6c68;
}
.user43{
    color: #6e785f;
}
.user44{
    color: #2e2516;
}
.user45{
    color: #404b4d;
}
.user46{
    color: #c37281;
}
.user47{
    color: #7c5b2e;
}
.user48{
    color: #51800b;
}
.user49{
    color: #0d337b;
}
.user50{
    color: #fadc51;
}
.user51{
    color: #fea12e;
}